/* Asterisk wildcard selector to overide default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/background-image-large.webp);
    color: blanchedalmond;
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    width: 230px;
    margin-left: 25px;
    margin-right: 25px;
}

.game-area {
    width: 75%;
    height: 65%;
    padding: 8px 4px;
    margin: 5px 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}

.box {
    position: relative;
    background-color: transparent;
    width: 75px;
    height: 75px;
    margin: 8px;
    transform: scale(1);
    perspective: 1000px;
}

.box:active {
    transform: scale(.97);
    transition: transform .2s;
}

.box-inner {
    width: 75px;
    height: 75px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.box-inner-front, .box-inner-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.box-inner-front {
    border-radius: 5px;
}

.box-inner-back {
    border-radius: 5px;
    background-color: 	#635147;
    transform: rotateY(180deg);
}

.card-number {
  font-size: 2em;
  padding-top: 20px;
}

.score-area {
    width: 210px;
    margin: 10px 35px;
    font-size: 1rem;
}

.time {
  margin: 10px;
}

/* The Congratulations Modal Credit https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#question {
  font-size: 2em;
}

#close-modal {
  font-size: 2em;
  color: green;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 17px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: green;
}

.modal-content h5 {
  font-size: 1rem;
  font-weight: 600;
  color: green;
}

.modal-content p {
  font-size: 1rem;
  font-weight: 600;
  color: green;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 50px;
  height: 25px;
  margin: 2px;
}

.button:hover {
  background-color: black;
  color: #fefefe;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

  body{
    margin: auto;
  }

  .heading {
    text-align: center;
    width: 600px;
    font-size: 1.5rem;
    padding: 10px 50px;
    margin: 10px 84px;
  }

  h1 {
    width: 480px;
  }

  h3 {
    width: 480px;
  }

  .game-area {
    width: 90%;
    height: 70%;
    padding: 10px;
    margin: 0 40px;
  }

  .box {
    width: 150px;
    height: 150px;
  }

  .box-inner {
    width: 150px;
    height: 150px;
  }

  .card-img{
    width: 100%;
  }

  .card-number {
    padding-top: 35%;
  }

  .score-area {
    width: 300px;
    padding-top: 10px;
    margin: 10px 234px;
    font-size: 1.5rem;
  }

  .modal-content {
    margin-top: 15.5rem;
  }

  .modal-content h4 {
    font-size: 2rem;
  }

  .modal-content h5 {
    font-size: 1.5rem;
  }

  .modal-content p {
    font-size: 1.5rem;
  }

  .modal-buttons {
    justify-content: space-evenly;
  }

  .button {
    width: 20%;
    height: 25px;
  }

}

/* Media query: laptop and larger (1024px and up) */
@media screen and (min-width: 1024px) {

  .heading {
    text-align: center;
    width: 600px;
    font-size: 1.5rem;
    padding: 10px 50px;
    margin: 10px 215px;
  }

  .score-area {
    width: 300px;
    padding: 10px;
    margin: 10px 362px;
    font-size: 1.5rem;
  }

}

  /* Media query: laptop and larger (1440px and up) */
  @media screen and (min-width: 1440px) {

  body {
      background-image: url(../images/background-image-laptop.jpeg);
  }
  
  .heading {
    margin: 10px 420px;
  }

  .score-area {
    margin: 10px 567px;
  }

}

/* Media query: screen and larger (2560px and up) */
@media screen and (min-width: 2560px) {

  body {
    background-image: url(../images/background-image-desktop.jpeg);
  }

  .heading {
    margin: 10px 980px;
  }

  .game-area {
    width: 100%;
    height: 60%;
    padding: 10px;
    margin: 0 40px;
  }

  .score-area {
    width: 550px;
    padding: 10px;
    margin: 50px 995px;
    font-size: 3rem;
  }

}